.header{
    background: #FAFAFA;
    height: 56px;
}
.menuIcon, .icon{
    color: #222222;
}
.iconContainer{
    display:flex;
    flex-direction: column;
}
.cuentaIcon, .inicioSesion{
    background: transparent;
    border: none;
    font-size: 8px;
    color: #222222;
}
.inicioSesion{
    display: flex;
    flex-direction: column;
    font-family: "Nunito", sans-serif;
    font-size: 12px;
}
.logoHeader {
    max-height: 45px;
    text-align: center;
}

.logoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
  }
  
  .centerLogo {
    justify-content: center !important;
  }
  .iconLink {
    text-decoration: none;
    color: inherit;
  }
