/* .alert {
    border: 1px solid;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 328px;
    margin: 10px auto;
  }
  
  .iconContainer {
    margin-right: 10px;
  }
  
  .alert-success {
    border-color: green;
    color: green;
  }
  
  .alert-error {
    border-color: red;
    color: red;
  }
  
  .actions {
    display: flex;
    gap: 10px;
  }
  
  .button {
    background: none;
    border: none;
    color: #4E169D;
    cursor: pointer;
  }
   */

   .overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
  /* .modal {
    background: white;
    padding: 20px;
    border-radius: 28px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 328px;
    width: 100%;
  } */

  .modal-success {
    background: white;
    padding: 20px;
    border-radius: 28px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 328px;
    height: auto;
  }
  
  .modal-error {
    background: white;
    padding: 20px;
    border-radius: 28px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 328px;
    height: auto;
  }
  
  .iconContainer {
    margin-bottom: 10px;
  }
  
  .icon{
    width: 40px;
height: 40px;
padding: 8px ;
gap: 10px;
border-radius: 100px;
border: 2px ;
opacity: 0px;

  }
  
  .actions {
    display: flex;
    width: 328px;
    height: 48px;
    padding: 24px 24px 24px 8px;
    opacity: 0px;
    justify-content: flex-end;

  }
  
  .button {
    background: none;
    border: none;
    color: #4E169D;
    cursor: pointer;
    width: 157px;
    padding-top: auto;
height: auto;
gap: 0px;
opacity: 0px;
font-family:'Nunito', sans-serif;
font-size: 14px;
font-weight: 600;
text-align: center;


  }

.message{
    width: 280px;
    height: 48px;
gap: 0px;
opacity: 0px;
font-family: 'Nunito', sans-serif;
font-size: 18px;
font-weight: 400;
text-align: center;
color: #222222;




}

.errorMessage{
    width: 280px;
    height: 16px;
    gap: 0px;
    opacity: 0px;
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-align: left;    
    color: #222222;
    
}
  