.contenedor {
  margin: 40px 20px;
}

.titulo {
  font-weight: 600;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
}

.subtitulo {
  margin: 30px 0px;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
}

.textoAyuda {
  display: flex;
  justify-content: space-between;
}

.seccionBotonSubida {
  display: flex;
  justify-content: end;
}

.contenedorBotonSubida {
  width: 150px;
}

.botonSubida {
  margin-top: 30px;
  height: 40px;
  border-radius: 100px;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  text-transform: none;
}

.textoCondicionesSubida {
  margin-top: 5px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: left;
}

.botonCargar {
  margin-top: 30px;
  height: 40px;
  border-radius: 40px;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  text-transform: none;
}

.contenedorImagenes {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.contenedorImagen {
  position: relative;
}

.botonBorrar {
  background-color: #22222299;
  position: absolute;
  right: 0;
  padding: 4px;
  margin-top: 5px;
  margin-right: 5px;
}

.imagenes {
  width: 104px;
  height: 80px;
  margin: 0px 2px;
  border-radius: 4%;
  object-fit: cover;
}
