.categoriaLink {
  text-decoration: none;
  color: inherit;
}

.botonSeccCategorias {
  font-size: 18px;
  height: 64px;
  padding: 5px;
  display: flex;
  flex-direction:row;
  justify-content: center;
  align-items:center;
  background-color: #eaeaea;
  border-radius: 16px;
  gap: 5px;
}

.botonContenedor {
  height: 64px;
  padding: 5px;
  display: flex;
  flex-direction:row;
  justify-content: center;
  align-items:center;
  background-color: #eaeaea;
  border-radius: 16px;
  gap: 5px;
}


.botonTextoSeccCateg {
  width: 80px;
  font-family: "Nunito", sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-transform: none;
}

.botonTexto {
  font-family: "Nunito", sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-transform: none;
}

.border {
  width: 48px;
  border-bottom: 2px solid #4e169d;
}

